<%- include('includes/header'); %>
<%- include('includes/nav'); %>

   <div class="container">
      <h1 class="text-center">Dashboard</h1>
        <p class="text-center lead">Gráficos e widgets de administração do site.</p>

      <%- include('../includes/messages'); %>


   </div>

<%- include('includes/footer'); %>