<%- include('includes/header'); %>
<%- include('includes/nav'); %>

    <section class="container">

        <div class="p-4 p-md-5 my-4 rounded text-bg-dark">
            <div class="col-lg-6 px-0">
              <h1 class="display-4 fst-italic">Site da Veterinaria tal</h1>
              <p class="lead my-3">Amor, Saúde e Bem-Estar: O Seu Veterinário Online, Cuidando do Seu Pet Como Você!.</p>
            </div>
          </div>

        <div class="row mb-2">
            <div class="col-md-6">
                
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary-emphasis">Produtos</strong>
                    <h3 class="mb-0">Conheça nossos produtos</h3>
                    <p class="card-text mb-auto">Descubra o melhor para o seu fiel companheiro! Produtos de qualidade que fazem os rabos abanarem e os corações se aquecerem. Sua jornada para o bem-estar animal começa aqui. 🐾✨ #AmorPet #BemEstarAnimal</p>
                    
                    <a href="#" class="icon-link gap-1 icon-link-hover stretched-link my-3">
                        Quero dar uma olhada!
                    </a>
                </div>

                <div class="col-auto d-none d-lg-block">
                  <img class="bd-placeholder-img" src="/assets/images/racao.png" alt="Produtos" width="200" height="100%">
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-success-emphasis">Serviços</strong>
                  <h3 class="mb-0">Conheça nossos serviços</h3>
                  <p class="mb-auto">Compromisso com a Saúde e Felicidade dos Seus Pets! Oferecemos serviços essenciais, desde castração até vacinação, para garantir uma vida longa e feliz aos seus amigos peludos. Cuide, ame e proteja com os nossos serviços especializados. 🌟🐾 #SaúdePet #AmorIncondicional</p>
                  <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                    Continue ver os serviços
                    
                  </a>
                </div>

                <div class="col-auto d-none d-lg-block">
                    <img class="bd-placeholder-img" src="/assets/images/servicos.png" alt="Servicos" width="200" height="100%">
                </div>

              </div>
            </div>
          </div>

          <div class="row g-5">

            <div id="sobre" class="col-md-8">

                <div id="sobre">
                    <h3 class="pb-4 mb-4 fst-italic border-bottom">
                        Sobre
                    </h3>
                
                    <article class="blog-post">
                        <p>Na Veterinaria tal, nossa paixão pelo cuidado animal é a força motriz que impulsiona nosso compromisso diário. Acreditamos que cada animal de estimação merece amor, atenção e os melhores cuidados possíveis, e é esse princípio fundamental que nos inspira a oferecer serviços veterinários excepcionais em todo o Brasil.

                        Nossos fundadores, movidos por um profundo respeito pelos animais, estabeleceram a Veterinaria tal com a missão de proporcionar um padrão excepcional de cuidados veterinários a todos os cantos do país. Cada membro da nossa equipe compartilha dessa paixão e dedicação, trabalhando incansavelmente para promover a saúde e o bem-estar dos animais domésticos.
                        
                        Atualmente, temos o orgulho de contar com diversas unidades em todo o Brasil, oferecendo serviços de alta qualidade e mantendo o compromisso de estar presente onde a necessidade de cuidados veterinários é necessária. Com franquias em Rio de Janeiro - RJ, São Paulo - SP, e Belo Horizonte - BH, estamos comprometidos em tornar os nossos serviços acessíveis a todos os amantes de animais, independentemente de onde estejam.
                        
                        Junte-se a nós nessa jornada de cuidado e amor pelos nossos amigos peludos. Encontre a Veterinaria tal mais próxima de você e faça parte da nossa família dedicada à saúde e felicidade dos animais de estimação. 🐾✨ #PaixãoPelosPets #CuidadoComAmor #NossaMissão<hr>
                     </article>
                </div>

                <div id="quem-somos">
                    <h3 class="pb-4 mb-4 fst-italic border-bottom">
                        Quem somos
                       </h3>
                 
                    <article class="blog-post">
                        <p>Bem-vindo à Veterinaria de tal, onde a saúde e felicidade dos seus animais de estimação são a nossa principal prioridade. Com uma equipe de médicos veterinários altamente qualificados, estamos comprometidos em oferecer serviços excepcionais que garantem o bem-estar dos seus queridos amigos peludos.
    
                            Nossos serviços incluem procedimentos essenciais, como castração e vacinação, fundamentais para a promoção da saúde a longo prazo. Sabemos o quão especial é o vínculo entre você e seu pet, e é por isso que adotamos uma abordagem personalizada, proporcionando cuidados compassivos e eficazes.
                            
                            Nosso compromisso com a excelência foi reconhecido por influenciadores amantes de animais, como donos dos Pequenos Príncipes (Bolt, Nhoque e Zorro), donos da Dupla de gatinhos (Pedrinho e Paulinho) e donos do Ring Neck (Lulu de Lua), que confiaram em nossos serviços para garantir o melhor para seus companheiros de quatro patas.
                            
                            Junte-se a nós na busca pela saúde ideal para seus animais de estimação. Na Veterinaria de tal, estamos aqui para tornar a jornada veterinária uma experiência positiva e recompensadora. Sua confiança é o nosso maior elogio. 🐾✨ #CuideBem #SaúdePet #QuemSomos.</p>
                        <hr>
                    </article>
                </div>
                
              </div>

            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="p-4 mb-3 bg-body-tertiary rounded">
                                    <h4 class="fst-italic">Piada</h4>
                                    <p class="mb-0">
                                        O que o peixe faz para ficar em forma?
                    
                                        Nada! 🐟💪.
                                    </p>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="p-4 mb-3 bg-body-tertiary rounded">
                                    <h4 class="fst-italic">Piada</h4>
                                    <p class="mb-0">
                                        Por que o gato sempre está no computador?

                                        Porque ele quer manter um controle de mouse! 🐱🖱️
                                    </p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="p-4 mb-3 bg-body-tertiary rounded">
                                    <h4 class="fst-italic">Piada</h4>
                                    <p class="mb-0">
                                        O que aconteceu quando o cachorro comeu o dicionário?

                                        Ele ficou sem palavras! 🐾📚
                                    </p>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
          
                  <div>
                    <h4 class="fst-italic">Posts recentes</h4>
                    <ul class="list-unstyled">
                      <li>
                        <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                          <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
                          <div class="col-lg-8">
                            <h6 class="mb-0">Revolution Pet: Descubra as Últimas Inovações em Cuidados Veterinários na Veterinaria tal!</h6>
                            <small class="text-body-secondary">15 Dezembro 2023</small>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                          <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
                          <div class="col-lg-8">
                            <h6 class="mb-0">Transformando Vidas: Conheça as Histórias de Sucesso dos Pets que Passaram pelos Cuidados Especializados da Veterinaria tal</h6>
                            <small class="text-body-secondary">14 Dezembro 2023</small>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                          <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
                          <div class="col-lg-8">
                            <h6 class="mb-0">Mudança de Jogo: Veterinaria tal Introduz Programa Inovador de Bem-Estar Animal para uma Comunidade mais Saudável e Feliz!</h6>
                            <small class="text-body-secondary">12 Dezembro 2023</small>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
          
                  <div class="p-4">
                    <h4 class="fst-italic">Siga-nos</h4>
                    <ol class="list-unstyled">
                      <li><a href="#">GitHub</a></li>
                      <li><a href="#">Twitter</a></li>
                      <li><a href="#">Facebook</a></li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>

<%- include('includes/footer'); %>